<ion-view title="Acesso">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h3 style="color:#000000;font-weight:600;text-align:center;">XCoin APP</h3>
            <ion-list ng-init="inicializar()">
                <label class="item item-input item-floating-label">
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="CPF" ng-model="usuario.cpf" ui-br-cpf-mask>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha" ng-model="usuario.senha">
                </label>
            </ion-list>
            <a class="button button-positive button-block button-outline" ng-click="entrar(usuario)">Entrar</a>
            <br>
            <a ui-sref="menu.criarConta" class="button button-positive button-block button-outline">Criar conta</a>
        </form>
    </ion-content>
</ion-view>